body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #ffffff);
    height: 100vh;
    overflow: hidden;
}

.controls {
    position: absolute;
    /* top: 10%; */
    left: 50%;
    transform: translate(-50%, -50%);
}

#calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 columns for 7 days of the week */
    grid-gap: 10px;
    /* spacing between cells */
}

#calendarWeekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
}

#calendarWeekdays div,
#calendarGrid div {
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ddd; */
}
